<!-- start of navbar -->
<div id="wrapz" class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <header class="navbar-fixed">
    <nav class="row deep-purple darken-3">
      <div class="col s4">
        <ul class="left">
          <li >
          <li>
            <a href="/" class="brand-logo">Rapport</a>
          </li>
        </ul>
      </div>
      <!---end div-->
      <div class="col s8">
        <ul class="right">
          <li class="right">
            <a href="/signup" class="waves-effect waves-light">Sign up<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/login" class="waves-effect waves-light">Login<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/about" class="waves-effect waves-light">About Us<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/contact" class=" waves-effect waves-light">Contact Us<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/support" class="waves-effect waves-light">Solutions<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/features" class="waves-effect waves-light">Features<span class="icon-text"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
<!-- End of navbar -->

<!--Main Content-->
<div class="container">
  <h1>About Us</h1>
  <p class="flow-text">Rapport is Kenya's #1 Customer Relationship Managemen(CRM) platform. Built with Ruby or Rails, we have IT experts that manage the site and have made it simple for anyone to use. It only requires a simple sign up and log in for
    users to start connecting to customers and watch their business grow.</p>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12 m6">
      <h4>Our Goals</h4>
      <p class="flow-text">Our goal is to ensure every customer is treated like they're your only custoer with Rapport CRM. We thrive to understand their needs, solve their problems and identify opportunities to help managing their information and
        interations with your company or organization on a single platform that's accessible from anywhere.</p>
    </div>

    <div class="col s12 m6">
      <h4>Objectives</h4>
      <p class="flow-text">Win more customers more easily.<br>Ensure all customers are happy.<br>Find new potential customers.<br>Get information from your customers.<br>Run your business from anywhere.<br>Improve customer satisfction.<br>Improve the efficiency of your business<br>Expand your customer base.</p>
    </div>

    <div class="divider"></div>
  </div>
</div>
<div class="divider"></div>

<div class="container">
  <div class="row">
    <div class="col s12 l12">
      <div class="card">
        <div class="card-image">
          <img src="http://cdn2.insidermonkey.com/blog/wp-content/uploads/2016/02/12090052/shutterstock_289510286.jpg">
          <span class="card-title">Our Vision</span>
        </div>
        <div class="card-content">
          <p>To increase your employee productivity, team collaboration, customer loyalty and most importantly, your sales.</p>
        </div>
        <!-- <div class="card-action">
                <a href="#">This is a link</a>
              </div> -->
      </div>
    </div>
  </div>
</div>

<p class="flow-text container">We live in a world where 80% of consumers will research your product online before making a purchase, 87% will use their mobile device to shop and will use several channels to interact with your brand. In order to
  engage potential customers across multiple devices in multiple channels, you need data. And with CRM software, you are able to create a 360 degree overview of each person you connect with.</p>

<div class="divider"></div>

<div class="container">
  <h4>Trusted by many businesses around Kenya and aiming for Africa</h4>
  <p class="flow-text">Currently working with the following companies:
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgFZPJsidtb66MaxPTATJFKbBuzk3T3TZERBGdgmLGFH_LIQUzG9LPG2g" width="163" alt="">
  </p>
</div>

<footer class="page-footer deep-purple darken-3">
  <div class="footer-copyright deep-purple darken-4">
    <div class="container">
      <time datetime="{{ site.time | date: '%Y' }}">&copy; 2017 Copyright created by betty,philip and victor Nerdites Team</time>
    </div>
  </div>
</footer>
