<div id="wrapz" class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <header class="navbar-fixed">
    <nav class="row deep-purple darken-3">
      <div class="col s4">
        <ul class="left">
          <li >
          <li>
            <a href="/" class="brand-logo">Rapport</a>
          </li>
        </ul>
      </div>
      <!---end div-->
      <div class="col s8">
        <ul class="right">
          <li class="right">
            <a href="/signup" class="waves-effect waves-light">Sign up<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/login" target="" class="waves-effect waves-light">Login<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/about" class="waves-effect waves-light">About Us<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/contact" class="waves-effect waves-light">Contact Us<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/support" class="waves-effect waves-light">Solutions<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/features" class="waves-effect waves-light">Features<span class="icon-text"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
<div class="container" id="feature">
  <div class="row">
    <h4>Contact Management</h4>

    <p class="flow-text">Have a complete view of your customers, including activity history, key contacts, customer communications, and internal account discussions. Gain insights from popular social media sites such as Facebook, Twitter, LinkedIn, and
      YouTube — right within Rapport.</p>

    <p class="flow-text">Grow every part of your business.</p>
    <p class="flow-text">Create deeper relationships with your customers with the cloud-based CRM platform that's accessible from anywhere over the internet.</p>
  </div>
  <div class="row">
    <h4>Opportunity Management</h4>

    <p class="flow-text">Get all the details on your team’s deals — stage, products, competition, quotes, and more. Stay connected to the people and information you need to close every sale.</p>

  </div>
  <div class="row">
    <h4>Get more leads.</h4>

    <p class="flow-text">Build your own "lead machine" to improve conversion rates and grow your revenue.</p>

    <p class="flow-text">
      <i>Lead Management</i>
    </p>
    <p class="flow-text">Track your leads from click to close, while continually optimizing your campaigns across every channel. Make smarter decisions about where to invest your marketing dollars.</p>

    <p class="flow-text">Grow every part of your business.</p>
    <p class="flow-text">Create deeper relationships with your customers with the cloud-based CRM platform that's accessible from anywhere over the internet.</p>
  </div>

  <div class="row">
    <h4>Opportunity Management</h4>

    <p class="flow-text">Get all the details on your team’s deals — stage, products, competition, quotes, and more. Stay connected to the people and information you need to close every sale.</p>
  </div>
</div>

<footer class="page-footer deep-purple darken-3">
  <div class="footer-copyright deep-purple darken-4">
    <div class="container">
      <time datetime="{{ site.time | date: '%Y' }}">&copy; 2017 Copyright created by betty,philip and victor Nerdites Team</time>
    </div>
  </div>
</footer>

<style media="screen">
  #feature {
    text-align: center;
  }
</style>
