<div id="wrapz" class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <header class="navbar-fixed">
    <nav class="row deep-purple darken-3">
      <div class="col s4">
        <ul class="left">
          <li >
          <li>
            <a href="/" class="brand-logo">Rapport</a>
          </li>
        </ul>
      </div>
      <!---end div-->
      <div class="col s8">
        <ul class="right">
          <li class="right">
            <a href="/signup" class="waves-effect waves-light">Sign up<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/login" class="waves-effect waves-light">Login<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/about" class="waves-effect waves-light">About Us<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/contact" class=" waves-effect waves-light">Contact Us<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/support" class="waves-effect waves-light">Solutions<span class="icon-text"></span>
            </a>
          </li>
          <li class="right">
            <a href="/features" class="waves-effect waves-light">Features<span class="icon-text"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>

<div id="support" class="wrapper1 container">
  <center><p class="flow-text">Learn how the Kenya’s #1 CRM solution helps you forge a path to success in your industry.</p></center>
  <!--start with row 1-->
  <div class="row">
    <div class="col s4">
      <img class="circle responsive-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhXAAAAJDBmYzY4N2ZkLWI5YzYtNDcyYS05NWFkLTk1MGM4M2Y4NTkzYQ.png" alt="">
      <center><a>Banking</a></center>
    </div>
    <div class="col s4">
      <img class="circle responsive-img" src="http://pieropretto.com/heminotes/heminotes_img/bubble.jpg" alt="">
      <center><a>Comunications</a></center>
    </div>
    <div class="col s4">
      <img class="circle responsive-img" src="http://www.ikwileenmotor.nl/images/nieuws/algemeen/shop.png" alt="">
      <center><a>Retail</a></center>
    </div>
  </div>
  <!--start with row 2 -->
  <div class="row">
    <div class="col s4">
      <img class="circle responsive-img" src="http://kenyahighcommission.ca/wp-content/uploads/2015/03/ark-kenya-coat-of-arms-detailed_01211.png" alt="">
      <center><a>Government</a></center>
    </div>
    <div class="col s4">
        <img class="circle responsive-img" src="https://www.colourbox.com/preview/10764750-health-care-medical-icon.jpg" alt="">
        <center><a>HealthCare</a></center>
    </div>
    <div class="col s4">
      <img class="circle responsive-img" src="https://s-media-cache-ak0.pinimg.com/originals/49/1c/e1/491ce150caa9686a215a71acdc17eb4a.jpg" alt="">
      <center><a>Insurance</a></center>
    </div>
  </div>
</div>

<footer class="page-footer deep-purple darken-3">
  <div class="footer-copyright deep-purple darken-4">
    <div class="container">
      <time datetime="{{ site.time | date: '%Y' }}">&copy; 2017 Copyright created by betty,philip and victor Nerdites Team</time>
    </div>
  </div>
</footer>

<style media="screen">
#support {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

main {
 flex: 1 0 auto;
}

</style>
